<main class="main-content  ">
    <header data-anim="fade" data-add-bg="bg-dark-1" class="header -type-1 js-header">
    
    
        <div class="header__container">
          <div class="row justify-between items-center">
    
            <div class="col-auto">
              <div class="header-left">
    
                <div class="header__logo ">
                  <a data-barba href="index.html">
                    <img src="assets/driving/img/general/logo.png" alt="logo">
                  </a>
                </div>
    
    
                <!-- <div class="header__explore text-green-1 ml-60 xl:ml-30 xl:d-none">
                  <a href="index.html#" class="d-flex items-center" data-el-toggle=".js-explore-toggle">
                    <i class="icon icon-explore mr-15"></i>
                    Licencias
                  </a>
    
                  <div class="explore-content py-25 rounded-8 bg-white toggle-element js-explore-toggle">
    
                    <div class="explore__item">
                      <a href="index.html#" class="d-flex items-center justify-between text-dark-1">
                        No profesionales<div class="icon-chevron-right text-11"></div>
                      </a>
                     
                    </div>
    
                    <div class="explore__item">
                      <a href="index.html#" class="d-flex items-center justify-between text-dark-1">
                        Business<div class="icon-chevron-right text-11"></div>
                      </a>
                     
                    </div>
    
    
                    <div class="explore__item">
                      <a href="index.html#" class="text-dark-1">Computer Programming</a>
                    </div>
    
                    <div class="explore__item">
                      <a href="index.html#" class="text-dark-1">Data Analysis</a>
                    </div>
    
    
                   
    
                    <div class="explore__item">
                      <a href="courses-single-6.html" class="text-dark-1">Education</a>
                    </div>
    
    
                   
    
                  
    
                    
    
    
                    <div class="explore__item">
                      <a href="index.html#" class="text-dark-1">Music Arts</a>
                    </div>
    
                    <div class="explore__item">
                      <a href="index.html#" class="text-dark-1">Social Science</a>
                    </div>
    
    
                    <div class="explore__item">
                      <a href="index.html#" class="d-flex items-center justify-between text-dark-1">
                        Photography & Video<div class="icon-chevron-right text-11"></div>
                      </a>
                      <div class="explore__subnav rounded-8">
                        <a class="text-dark-1" href="courses-single-1.html">Web Design</a>
                        <a class="text-dark-1" href="courses-single-2.html">Graphic Design</a>
                        <a class="text-dark-1" href="courses-single-3.html">Design Tools</a>
                        <a class="text-dark-1" href="courses-single-4.html">User Experience Design</a>
                        <a class="text-dark-1" href="courses-single-5.html">Game Design</a>
                        <a class="text-dark-1" href="courses-single-6.html">3D & Animation</a>
                        <a class="text-dark-1" href="courses-single-1.html">Fashion Design</a>
                        <a class="text-dark-1" href="courses-single-2.html">Interior Design</a>
                      </div>
                    </div>
    
                    <div class="explore__item">
                      <a href="courses-single-1.html" class="text-dark-1">IT & Software</a>
                    </div>
    
                    <div class="explore__item">
                      <a href="courses-single-2.html" class="text-purple-1 underline">View All Courses</a>
                    </div>
                  </div>
                </div> -->
    
              </div>
            </div>
    
    
            <div class="header-menu js-mobile-menu-toggle ">
              <div class="header-menu__content">
                <div class="mobile-bg js-mobile-bg"></div>
    
                <div class="d-none xl:d-flex items-center px-20 py-20 border-bottom-light">
                  <a  class="text-dark-1">Ingresar</a>
                  <a  class="text-dark-1 ml-30">Registrarme</a>
                </div>               

    
                <div class="menu js-navList">
                  <ul class="menu__nav text-white -is-active">
                 
                    <li class="menu-item-has-children">
                        <a data-barba >
                          Curso <i class="icon-chevron-right text-13 ml-10"></i>
                        </a>
    
                        <ul class="subnav">
                          <li class="menu__backButton js-nav-list-back">
                            <a ><i class="icon-chevron-left text-13 mr-10"></i> Curso</a>
                          </li>
                          <li class="menu-item-has-children">
                            <a >No profesionales<div class="icon-chevron-right text-11"></div></a>
    
                            <ul class="subnav">
                              <li class="menu__backButton js-nav-list-back">
                                <a ><i class="icon-chevron-left text-13 mr-10"></i> No profesionales</a>
                              </li>
    
                              <li>
                                <a >Clase B</a>
                              </li>
    
                              <li>
                                <a >Clase C</a>
                              </li>
    
                            </ul>
                          </li>
                          <li class="menu-item-has-children">
                            <a >Profesionales<div class="icon-chevron-right text-11"></div></a>
    
                            <ul class="subnav">
                              <li class="menu__backButton js-nav-list-back">
                                <a ><i class="icon-chevron-left text-13 mr-10"></i> Profesionales</a>
                              </li>
    
                              <li>
                                <a >Clase A1</a>
                              </li>
    
                              <li>
                                <a >Clase A2</a>
                              </li>
                              <li>
                                <a >Clase A3</a>
                              </li>
                              <li>
                                <a >Clase A4</a>
                              </li>
                              <li>
                                <a >Clase A5</a>
                              </li>
    
                            </ul>
                          </li>
                          <li class="menu-item-has-children">
                            <a >Especiales<div class="icon-chevron-right text-11"></div></a>
    
                            <ul class="subnav">
                              <li class="menu__backButton js-nav-list-back">
                                <a ><i class="icon-chevron-left text-13 mr-10"></i>Especiales</a>
                              </li>
    
                              <li>
                                <a >Clase D</a>
                              </li>
    
                              <li>
                                <a >Clase E</a>
                              </li>
                              
                            </ul>
                          </li>
    
                          <li class="menu-item-has-children">
                            <a >SEMEP para instructores<div class="icon-chevron-right text-11"></div></a>
                            <ul class="subnav">
                              <li class="menu__backButton js-nav-list-back">
                                <a ><i class="icon-chevron-left text-13 mr-10"></i> SEMEP para instructores</a>
                              </li>
    
                              <li>
                                <a >Clase B</a>
                              </li>
    
                              <li>
                                <a >Clase C</a>
                              </li>
    
                            </ul>
                          </li>
                          
                        </ul>
                      </li>
    
                    <li class="menu-item-has-children">
                      <a data-barba >Temarios <i class="text-13 ml-10"></i></a>
                     
                    </li>
                    <li>
                        <a data-barba >Circuitos practicos</a>
                    </li>
    
                    <li class="menu-item-has-children">
                        <a data-barba >
                            Sobre la escuela <i class="icon-chevron-right text-13 ml-10"></i>
                        </a>
    
                        <ul class="subnav">
                          <li class="menu__backButton js-nav-list-back">
                            <a ><i class="icon-chevron-left text-13 mr-10"></i> Sobre la escuela</a>
                          </li>
                          <li class="menu-item-has-children">
                            <a >Quienes somos<div class="icon-chevron-right text-11"></div></a>
                          </li>
                          <li class="menu-item-has-children">
                            <a >Como funciona<div class="icon-chevron-right text-11"></div></a>
                          </li>
                          <li class="menu-item-has-children">
                            <a >Preguntas frecuentes<div class="icon-chevron-right text-11"></div></a>
                          </li>
                          <li class="menu-item-has-children">
                            <a >Contacto<div class="icon-chevron-right text-11"></div></a>
                          </li>
                        </ul>
                    </li>
                  </ul>
                </div>
    
                <div class="mobile-footer px-20 py-20 border-top-light js-mobile-footer">
                  <div class="mobile-footer__number">
                    <div class="text-17 fw-500 text-dark-1">Llamanos al</div>
                    <div class="text-17 fw-500 text-purple-1">800 388 80 90</div>
                  </div>
    
                  <div class="lh-2 mt-10">
                    <div> Chile</div>
                    <div>..</div>
                  </div>
    
                  <div class="mobile-socials mt-10">
    
                    <a href="index.html#" class="d-flex items-center justify-center rounded-full size-40">
                      <i class="fa fa-facebook"></i>
                    </a>
    
                    <a href="index.html#" class="d-flex items-center justify-center rounded-full size-40">
                      <i class="fa fa-twitter"></i>
                    </a>
    
                    <a href="index.html#" class="d-flex items-center justify-center rounded-full size-40">
                      <i class="fa fa-instagram"></i>
                    </a>
    
                    <a href="index.html#" class="d-flex items-center justify-center rounded-full size-40">
                      <i class="fa fa-linkedin"></i>
                    </a>
    
                  </div>
                </div>
              </div>
    
              <div class="header-menu-close" data-el-toggle=".js-mobile-menu-toggle">
                <div class="size-40 d-flex items-center justify-center rounded-full bg-white">
                  <div class="icon-close text-dark-1 text-16"></div>
                </div>
              </div>
    
              <div class="header-menu-bg"></div>
            </div>
    
    
            <div class="col-auto">
              <div class="header-right d-flex items-center">
                <div class="header-right__icons text-white d-flex items-center">
    
                  <div class="">
                    <button class="d-flex items-center text-white" data-el-toggle=".js-search-toggle">
                      <i class="text-20 icon icon-search"></i>
                    </button>
    
                    <div class="toggle-element js-search-toggle">
                      <div class="header-search pt-90 bg-white shadow-4">
                        <div class="container">
                          <div class="header-search__field">
                            <div class="icon icon-search text-dark-1"></div>
                            <input type="text" class="col-12 text-18 lh-12 text-dark-1 fw-500" placeholder="Que examen o test esta búscando?">
    
                            <button class="d-flex items-center justify-center size-40 rounded-full bg-purple-3" data-el-toggle=".js-search-toggle">
                              <img src="assets/driving/img/menus/close.svg" alt="icon">
                            </button>
                          </div>
    
                        <!--   <div class="header-search__content mt-30">
                            <div class="text-17 text-dark-1 fw-500">Popular Right Now</div>
    
                            <div class="d-flex y-gap-5 flex-column mt-20">
                              <a href="courses-single-1.html" class="text-dark-1">The Ultimate Drawing Course - Beginner to Advanced</a>
                              <a href="courses-single-2.html" class="text-dark-1">Character Art School: Complete Character Drawing Course</a>
                              <a href="courses-single-3.html" class="text-dark-1">Complete Blender Creator: Learn 3D Modelling for Beginners</a>
                              <a href="courses-single-4.html" class="text-dark-1">User Experience Design Essentials - Adobe XD UI UX Design</a>
                              <a href="courses-single-5.html" class="text-dark-1">Graphic Design Masterclass - Learn GREAT Design</a>
                              <a href="courses-single-6.html" class="text-dark-1">Adobe Photoshop CC – Essentials Training Course</a>
                            </div>
    
                            <div class="mt-30">
                              <button class="uppercase underline">PRESS ENTER TO SEE ALL SEARCH RESULTS</button>
                            </div>
                          </div> -->
                        </div>
                      </div>
                      <div class="header-search__bg" data-el-toggle=".js-search-toggle"></div>
                    </div>
                  </div>
    
    
                  <div class="relative ml-30 xl:ml-20">
                    <button class="d-flex items-center text-white" data-el-toggle=".js-cart-toggle">
                      <i class="text-20 icon icon-basket"></i>
                    </button>
    
                    <div class="toggle-element js-cart-toggle">
                      <div class="header-cart bg-white -dark-bg-dark-1 rounded-8">
                        <div class="px-30 pt-30 pb-10">
    
                          <div class="row justify-between x-gap-40 pb-20">
                            <div class="col">
                              <div class="row x-gap-10 y-gap-10">
                                <div class="col-auto">
                                  <img src="assets/driving/img/menus/cart/1.png" alt="image">
                                </div>
    
                                <div class="col">
                                  <div class="text-dark-1 lh-15">Titulo...</div>
    
                                  <div class="d-flex items-center mt-10">
                                    <div class="lh-12 fw-500 line-through text-light-1 mr-10">$179</div>
                                    <div class="text-18 lh-12 fw-500 text-dark-1">$79</div>
                                  </div>
                                </div>
                              </div>
                            </div>
    
                            <div class="col-auto">
                              <button><img src="assets/driving/img/menus/close.svg" alt="icon"></button>
                            </div>
                          </div>
    
                          <div class="row justify-between x-gap-40 pb-20">
                            <div class="col">
                              <div class="row x-gap-10 y-gap-10">
                                <div class="col-auto">
                                  <img src="assets/driving/img/menus/cart/2.png" alt="image">
                                </div>
    
                                <div class="col">
                                  <div class="text-dark-1 lh-15">Titulo...</div>
    
                                  <div class="d-flex items-center mt-10">
                                    <div class="lh-12 fw-500 line-through text-light-1 mr-10">$179</div>
                                    <div class="text-18 lh-12 fw-500 text-dark-1">$79</div>
                                  </div>
                                </div>
                              </div>
                            </div>
    
                            <div class="col-auto">
                              <button><img src="assets/driving/img/menus/close.svg" alt="icon"></button>
                            </div>
                          </div>
    
                        </div>
    
                        <div class="px-30 pt-20 pb-30 border-top-light">
                          <div class="d-flex justify-between">
                            <div class="text-18 lh-12 text-dark-1 fw-500">Total:</div>
                            <div class="text-18 lh-12 text-dark-1 fw-500">$659</div>
                          </div>
    
                          <div class="row x-gap-20 y-gap-10 pt-30">
                            <div class="col-sm-6">
                              <button class="button py-20 -dark-1 text-white -dark-button-white col-12">Ver</button>
                            </div>
                            <div class="col-sm-6">
                              <button class="button py-20 -purple-1 text-white col-12">Procesar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
    
    
                  <div class="d-none xl:d-block ml-20">
                    <button class="text-white items-center" data-el-toggle=".js-mobile-menu-toggle">
                      <i class="text-11 icon icon-mobile-menu"></i>
                    </button>
                  </div>
    
                </div>
    
            
                <div class="header-right__buttons d-flex items-center ml-30 xl:ml-20 md:d-none">
                  <a class="button px-30 h-50 -outline-dark-1 text-white " style="border: 2px solid #fff; color: #fff;">Ingresar</a>
                  <a  class="button px-30 h-50 ml-10 text-r" style="background-color: #fff;
                  border: #fba834; color: #D04848;">Registrarme</a>
                </div>
              </div>
            </div>
    
          </div>
        </div>
      </header>
    </main>


<!-- 
<nav class="hk-navbar navbar navbar-expand-xl navbar-light fixed-top">
    <div class="container-fluid">
   
    <div class="nav-start-wrap">
        <button class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover navbar-toggle d-xl-none"><span class="icon"><span class="feather-icon"><i data-feather="align-left"></i></span></span></button>
            
        
        <form class="dropdown navbar-search">
            <div class="dropdown-toggle no-caret" data-bs-toggle="dropdown" data-dropdown-animation data-bs-auto-close="outside">
                <a href="#" class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover  d-xl-none"><span class="icon"><span class="feather-icon"><i data-feather="search"></i></span></span></a>
                <div class="input-group d-xl-flex d-none">
                    <span class="input-affix-wrapper input-search affix-border">
                        <input type="text" class="form-control  bg-transparent"  data-navbar-search-close="false" placeholder="Buscar..." aria-label="Search">
                        <span class="input-suffix"><span>/</span>
                            <span class="btn-input-clear"><i class="bi bi-x-circle-fill"></i></span>
                            <span class="spinner-border spinner-border-sm input-loader text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </span>
                        </span>
                    </span>
                </div>
            </div>
            <div  class="dropdown-menu p-0">
               
                <div class="dropdown-item d-xl-none bg-transparent">
                    <div class="input-group mobile-search">
                        <span class="input-affix-wrapper input-search">
                            <input type="text" class="form-control" placeholder="Buscar..." aria-label="Search">
                            <span class="input-suffix">
                                <span class="btn-input-clear"><i class="bi bi-x-circle-fill"></i></span>
                                <span class="spinner-border spinner-border-sm input-loader text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
               
                <div data-simplebar class="dropdown-body p-2">
                    <h6 class="dropdown-header">Recent Search
                    </h6>
                    <div class="dropdown-item bg-transparent">
                        <a href="#" class="badge badge-pill badge-soft-secondary">Grunt</a>
                        <a href="#" class="badge badge-pill badge-soft-secondary">Node JS</a>
                        <a href="#" class="badge badge-pill badge-soft-secondary">SCSS</a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Help
                    </h6>
                    <a href="javascript:void(0);" class="dropdown-item">
                        <div class="media align-items-center">
                            <div class="media-head me-2">
                                <div class="avatar avatar-icon avatar-xs avatar-soft-light avatar-rounded">
                                    <span class="initial-wrap">
                                        <span class="svg-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-corner-down-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M6 6v6a3 3 0 0 0 3 3h10l-4 -4m0 8l4 -4"></path>
                                             </svg>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="media-body">
                                How to setup theme?
                            </div>
                        </div>
                    </a>
                    <a href="javascript:void(0);" class="dropdown-item">
                        <div class="media align-items-center">
                            <div class="media-head me-2">
                                <div class="avatar avatar-icon avatar-xs avatar-soft-light avatar-rounded">
                                    <span class="initial-wrap">
                                        <span class="svg-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-corner-down-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M6 6v6a3 3 0 0 0 3 3h10l-4 -4m0 8l4 -4"></path>
                                             </svg>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="media-body">
                                View detail documentation
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Users
                    </h6>
                    <a href="javascript:void(0);" class="dropdown-item">
                        <div class="media align-items-center">
                            <div class="media-head me-2">
                                <div class="avatar avatar-xs avatar-rounded">
                                    <img src="assets/jampack/dist/img/avatar3.jpg" alt="user" class="avatar-img">
                                </div>
                            </div>
                            <div class="media-body">
                                Sarah Jone
                            </div>
                        </div>
                    </a>
                    <a href="javascript:void(0);" class="dropdown-item">
                        <div class="media align-items-center">
                            <div class="media-head me-2">
                                <div class="avatar avatar-xs avatar-soft-primary avatar-rounded">
                                    <span class="initial-wrap">J</span>
                                </div>
                            </div>
                            <div class="media-body">
                                Joe Jackson
                            </div>
                        </div>
                    </a>
                    <a href="javascript:void(0);" class="dropdown-item">
                        <div class="media align-items-center">
                            <div class="media-head me-2">
                                <div class="avatar avatar-xs avatar-rounded">
                                    <img src="assets/jampack/dist/img/avatar4.jpg" alt="user" class="avatar-img">
                                </div>
                            </div>
                            <div class="media-body">
                                Maria Richard
                            </div>
                        </div>
                    </a>
                </div>
                <div class="dropdown-footer d-xl-flex d-none"><a href="#"><u>Search all</u></a></div>
            </div>
        </form>
       
    </div>
    
    <div class="nav-end-wrap">
        <ul class="navbar-nav flex-row">
           <li class="nav-item">
                <a href="email.html" class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover"><span class="icon"><span class=" position-relative"><span class="feather-icon"><i data-feather="inbox"></i></span><span class="badge badge-sm badge-soft-primary badge-sm badge-pill position-top-end-overflow-1">4</span></span></span></a>
            </li> 
            <li class="nav-item">
                <div class="dropdown dropdown-notifications">
                    <a href="#" class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover dropdown-toggle no-caret" data-bs-toggle="dropdown" data-dropdown-animation role="button" aria-haspopup="true" aria-expanded="false"><span class="icon"><span class="position-relative"><span class="feather-icon"><i data-feather="bell"></i></span><span class="badge badge-pink badge-indicator position-top-end-overflow-1"></span></span></span></a>
                    <div class="dropdown-menu dropdown-menu-end p-0">
                        <h6 class="dropdown-header px-4 fs-6">Notifications<a href="#" class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover"><span class="icon"><span class="feather-icon"><i data-feather="settings"></i></span></span></a>
                        </h6>
                        <div data-simplebar class="dropdown-body  p-2">
                            <a href="javascript:void(0);" class="dropdown-item">
                                <div class="media">
                                    <div class="media-head">
                                        <div class="avatar avatar-rounded avatar-xs">
                                            <img src="assets/jampack/dist/img/avatar2.jpg" alt="user" class="avatar-img">
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <div class="notifications-text">Morgan Freeman accepted your invitation to join the team</div>
                                            <div class="notifications-info">
                                                <span class="badge badge-soft-success">Collaboration</span>
                                                <div class="notifications-time">Today, 10:14 PM</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <div class="media">
                                    <div class="media-head">
                                        <div class="avatar  avatar-icon avatar-xs avatar-success avatar-rounded">
                                            <span class="initial-wrap">
                                                <span class="feather-icon"><i data-feather="inbox"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <div class="notifications-text">New message received from Alan Rickman</div>
                                            <div class="notifications-info">
                                                <div class="notifications-time">Today, 7:51 AM</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <div class="media">
                                    <div class="media-head">
                                        <div class="avatar  avatar-icon avatar-xs avatar-pink avatar-rounded">
                                            <span class="initial-wrap">
                                                <span class="feather-icon"><i data-feather="clock"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <div class="notifications-text">You have a follow up with Jampack Head on Friday, Dec 19 at 9:30 am</div>
                                            <div class="notifications-info">
                                                <div class="notifications-time">Yesterday, 9:25 PM</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <div class="media">
                                    <div class="media-head">
                                        <div class="avatar avatar-xs avatar-rounded">
                                            <img src="assets/jampack/dist/img/avatar3.jpg" alt="user" class="avatar-img">
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <div class="notifications-text">Application of Sarah Williams is waiting for your approval</div>
                                            <div class="notifications-info">
                                                <div class="notifications-time">Today 10:14 PM</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <div class="media">
                                    <div class="media-head">
                                        <div class="avatar avatar-xs avatar-rounded">
                                            <img src="assets/jampack/dist/img/avatar10.jpg" alt="user" class="avatar-img">
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div>	
                                            <div class="notifications-text">Winston Churchil shared a document with you</div>
                                            <div class="notifications-info">
                                                <span class="badge badge-soft-violet">File Manager</span>
                                                <div class="notifications-time">2 Oct, 2021</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <div class="media">
                                    <div class="media-head">
                                        <div class="avatar  avatar-icon avatar-xs avatar-danger avatar-rounded">
                                            <span class="initial-wrap">
                                                <span class="feather-icon"><i data-feather="calendar"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div>	
                                            <div class="notifications-text">Last 2 days left for the project to be completed</div>
                                            <div class="notifications-info">
                                                <span class="badge badge-soft-orange">Updates</span>
                                                <div class="notifications-time">14 Sep, 2021</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="dropdown-footer"><a href="#"><u>View all notifications</u></a></div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown ps-2">
                    <a class=" dropdown-toggle no-caret" href="#" role="button" data-bs-display="static" data-bs-toggle="dropdown" data-dropdown-animation data-bs-auto-close="outside" aria-expanded="false">
                        <div class="avatar avatar-rounded avatar-xs">
                            <img src="assets/jampack/dist/img/avatar12.jpg" alt="user" class="avatar-img">
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <div class="p-2">
                            <div class="media">
                                <div class="media-head me-2">
                                    <div class="avatar avatar-primary avatar-xs avatar-rounded">
                                        <span class="initial-wrap">Hk</span>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="dropdown">
                                        <a href="#" class="d-block dropdown-toggle link-dark fw-medium"  data-bs-toggle="dropdown" data-dropdown-animation data-bs-auto-close="inside">Hencework</a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <div class="p-2">
                                                <div class="media align-items-center active-user mb-3">
                                                    <div class="media-head me-2">
                                                        <div class="avatar avatar-primary avatar-xs avatar-rounded">
                                                            <span class="initial-wrap">Hk</span>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <a href="#" class="d-flex align-items-center link-dark">Hencework <i class="ri-checkbox-circle-fill fs-7 text-primary ms-1"></i></a>
                                                        <a href="#" class="d-block fs-8 link-secondary"><u>Manage your account</u></a>
                                                    </div>
                                                </div>
                                                <div class="media align-items-center mb-3">
                                                    <div class="media-head me-2">
                                                        <div class="avatar avatar-xs avatar-rounded">
                                                            <img src="assets/jampack/dist/img/avatar12.jpg" alt="user" class="avatar-img">
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <a href="#" class="d-block link-dark">Jampack Team</a>
                                                        <a href="#" class="d-block fs-8 link-secondary">contact hencework.com</a>
                                                    </div>
                                                </div>
                                                <button class="btn btn-block btn-outline-light btn-sm">
                                                    <span><span class="icon"><span class="feather-icon"><i data-feather="plus"></i></span></span>
                                                    <span>Add Account</span></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fs-7">contact hencework.com</div>
                                    <a href="#" class="d-block fs-8 link-secondary"><u>Sign Out</u></a>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="profile.html">Profile</a> 
                         <a class="dropdown-item" href="#"><span class="me-2">Offers</span><span class="badge badge-sm badge-soft-pink">2</span></a><div class="dropdown-divider"></div> 
                        <h6 class="dropdown-header">Cuenta</h6>
                         <a class="dropdown-item" href="#"><span class="dropdown-icon feather-icon"><i data-feather="credit-card"></i></span><span>Payment methods</span></a> 
                        <a class="dropdown-item" href="#"><span class="dropdown-icon feather-icon"><i data-feather="check-square"></i></span><span>Mi perfil</span></a>
                        <a class="dropdown-item" href="#"><span class="dropdown-icon feather-icon"><i data-feather="settings"></i></span><span>Ajustes</span></a>
                        <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#"><span class="dropdown-icon feather-icon"><i data-feather="tag"></i></span><span>Raise a ticket</span></a> 
                        <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#">Terms & Conditions</a> 
                        <a class="dropdown-item" (click)="global.signOut()">Salir</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
    </div>									
</nav>
 -->

