<footer class="footer -type-1 bg-dark-1 -green-links">
    <div class="container">
      <div class="footer-header">
        <div class="row y-gap-20 justify-between items-center">
          <div class="col-auto">
            <div class="footer-header__logo">
              <img src="assets/driving/img/general/logo.png" alt="logo">
            </div>
          </div>
          <div class="col-auto">
            <div class="footer-header-socials">
              <div class="footer-header-socials__title text-white">Siguenos en las redes sociales</div>
              <div class="footer-header-socials__list">
                <a href="index.html#"><i class="icon-facebook"></i></a>
                <a href="index.html#"><i class="icon-twitter"></i></a>
                <a href="index.html#"><i class="icon-instagram"></i></a>
                <a href="index.html#"><i class="icon-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-columns">
        <div class="row y-gap-30">
          <div class="col-xl-3 col-lg-3 col-md-3">
            <div class="text-17 fw-500 text-white uppercase mb-25">Talangente</div>
            <div class="d-flex y-gap-10 flex-column">
              <a >Quienes somos</a>
            
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-3">
            <div class="text-17 fw-500 text-white uppercase mb-25">Cursos</div>
            <div class="row justify-between y-gap-20">
              <div class="col-md-6">
                <div class="d-flex y-gap-10 flex-column">
                  <a >Clase A</a>
                  <a >Clase B</a>
                </div>
              </div>

              <!-- <div class="col-md-6">
                <div class="d-flex y-gap-10 flex-column">
                  <a href="courses-single-1.html">Lifiestyle</a>
                  <a href="courses-single-2.html">Photography & Video</a>
                  <a href="courses-single-3.html">Health & Fitness</a>
                  <a href="courses-single-4.html">Music</a>
                  <a href="courses-single-5.html">UX Design</a>
                  <a href="courses-single-6.html">Seo</a>
                </div>
              </div> -->
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-3">
            <div class="text-17 fw-500 text-white uppercase mb-25">Talagente</div>
            <div class="d-flex y-gap-10 flex-column">
              <a >Quienes somos</a>
              <a >FAQS</a>
              <a >Como funciona</a>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-3">
            <div class="text-17 fw-500 text-white uppercase mb-25">REGISTRATE GRATIS!!</div>
            <div class="footer-columns-form">
              <div>Necesitar aprender a manejar?</div>
              <form action="">
                <div class="form-group">
                  <input type="text" placeholder="Email...">
                  <button type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="py-30 border-top-light-15">
        <div class="row justify-between items-center y-gap-20">
          <div class="col-auto">
            <div class="d-flex items-center h-100 text-white">
              © 2024 Escuelatalagente.com Desarrollado por Buckapi. Todos los derechos reservados.
            </div>
          </div>

          <!-- <div class="col-auto">
            <div class="d-flex x-gap-20 y-gap-20 items-center flex-wrap">
              <div>
                <div class="d-flex x-gap-15 text-white">
                  <a href="help-center.html">Help</a>
                  <a href="terms.html">Privacy Policy</a>
                  <a href="terms.html">Cookie Notice</a>
                  <a href="terms.html">Security</a>
                  <a href="terms.html">Terms of Use</a>
                </div>
              </div>

              <div>
                <a href="index.html#" class="button px-30 h-50 -dark-6 rounded-200 text-white">
                  <i class="icon-worldwide text-20 mr-15"></i><span class="text-15">English</span>
                </a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </footer>